.creative {
  background-color: var(--light-purple);

  .wrapper {
    width: 100%;
    max-width: 41.25rem;
    padding-top: 3rem;
    margin: 0 auto;
    color: var(--black);
  }

  header,
  main,
  footer {
    padding: 0rem 1.25rem;
  }

  h1,
  h2.sectionHeading {
    color: var(--black);
  }

  a:focus {
    outline: 0.25rem solid var(--black);
  }

  // * headshot
  .userHeadshot {
    margin-bottom: 1.25rem;
    border: 0.25rem solid var(--muted-purple);
    background-color: var(--muted-purple);
    width: max-content;
    margin-inline: auto;
    border-radius: 50%;
    transition: transform 500ms ease-in-out, box-shadow 500ms ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0rem 0rem 0.75rem 0rem rgba(107, 106, 106, 0.75);
    }
    .userHeadshotImage {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
    }
  }

  // * description
  .userDescription {
    background-color: var(--soft-overlay);
    border: 0.25rem solid var(--muted-purple);
    border-radius: 0.75rem;
    padding: 0.75rem;
    text-align: center;
    margin-bottom: 1.25rem;

    .userDescriptionTitle {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: 0.25rem;
    }
    .userDescriptionBody {
      font-weight: 500;
      font-size: 1rem;
      font-style: italic;
      margin-bottom: 0.75rem;
    }
    .userDescriptionBio {
      font-weight: 400;
      font-size: 1rem;
    }
  }

  // * social links
  .userSocials {
    background-color: var(--soft-overlay);
    border: 0.25rem solid var(--muted-purple);
    border-radius: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;

    .userSocialsLink {
      transition: transform 300ms ease-in-out;
    }
    .userSocialsLink:hover {
      transform: scale(1.1);
    }
    img {
      display: block;
    }
  }

  // * sections
  section {
    margin-block: 3.75rem;

    .sectionHeading {
      margin-bottom: 0.25rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.5rem;
      text-align: center;
      padding: 0.25rem;
      border-radius: 0.25rem;
    }
    .sectionDescription {
      margin-bottom: 1.5rem;
      text-align: center;
    }
    .sectionLink {
      margin-top: 1.25rem;
      background: var(--soft-overlay);
      border: 0.25rem solid var(--muted-purple);
      box-shadow: 0.375rem 0.375rem 0rem var(--muted-purple);
      padding: 0.5rem 1rem;
      transition: transform 300ms ease-in-out;
    }
    .sectionLink:first-child {
      margin-top: 0.75rem;
    }
    .sectionLink:hover {
      transform: scale(1.03);
    }
    .sectionLink a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;
    }
    .sectionLinkTitle {
      font-weight: 400;
      line-height: 1.8125rem;
      flex-grow: 1;
    }
    .sectionLinkImage {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.125rem;
    }
  }

  // * footer
  footer {
    margin-top: 3.125rem;
    p {
      padding: 2.5rem 1.25rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.125rem;
      font-size: 0.8rem;
    }
    .icon {
      width: 1rem;
    }
  }
}
